<div class="container">
    <h1>Etudiant Details</h1>


    <div class="info">
        <label>Nom:</label>
        <span>{{ data.nomEt }}</span>
    </div>

    <div class="info">
        <label>Prénom:</label>
        <span>{{ data.prenomEt }}</span>
    </div>

    <div class="info">
        <label>Date de Naissance:</label>
        <span>{{ data.dateNaissance }}</span>
    </div>

    <div class="info">
        <label>CIN:</label>
        <span>{{ data.cin }}</span>
    </div>

    <div class="info">
        <label>École:</label>
        <span>{{ data.ecole }}</span>
    </div>

    <div class="info">
        <label>Numéro de Téléphone:</label>
        <span>{{ data.numeroTelephone }}</span>
    </div>

    <div class="info">
        <label>Adresse:</label>
        <span>{{ data.adresse }}</span>
    </div>

    <div class="info">
        <label>Ville:</label>
        <span>{{ data.ville }}</span>
    </div>

    <div class="info">
        <label>Code Postal:</label>
        <span>{{ data.codePostal }}</span>
    </div>

    <div class="info">
        <label>Spécialité:</label>
        <span>{{ data.specialite }}</span>
    </div>

    <div class="user-details">
        <h2>User Details</h2>
        <p><strong>Email:</strong> {{ data.email }}</p>
        <p><strong>Role:</strong> ROLE_ETUDIANT</p>
    </div>
</div>
