<header class="item header margin-top-0">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="text-pageheader">
              <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
                Foyer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- CONTENT =============================-->
  <section class="item content">
    <div class="container toparea">
      <div class="underlined-title">
        <div class="editContent">
          <h1 class="text-center latestitems">NOS CHAMBRES</h1>
        </div>
        <div class="wow-hr type_short">
          <span class="wow-hr-h">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <app-chambre-card class="col-md-4" (chambreOutput)="emitChambreData($event)"
        *ngFor="let chambre of chambres" 
        [chambreData]="chambre">
    </app-chambre-card>
      </div>
    </div>
  </section>
